<h1>Hello, world!</h1>
<p>Bienvenue sur le projet librairie</p>
<table class="table">
  <thead>
    <tr>
      <th>#</th>
      <th>Nom</th>
      <th>Auteur</th>
      <th>Prix</th>
      <th>Stock</th>
      <th>Commander</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let book of books">
      <th>{{book.id}}</th>
      <td>{{book.title}}</td>
      <td>{{book.author.firstname}} {{book.author.lastname}}</td>
      <td>{{book.price}}</td>
      <td>{{book.stock}}</td>
      <td>
        <div class="input-group">
          <input type="number" class="form-control" placeholder="Quantité" [(ngModel)]="book.quantity">
          <button type="button" class="btn btn-success" (click)="addToCart(book)">Ajouter au panier</button>
        </div>
      </td>
    </tr>
  </tbody>
</table>
<h2>Mon panier</h2>
<table class="table">
  <tr *ngFor="let book of cart.books">
    <td>{{book.title}}</td>
    <td>{{book.quantity}}</td>
  </tr>
</table>
<a class="btn btn-primary" (click)="validate()">Valider la commande</a>
<p>Prix de la commande : {{totalPrice}}€</p>
